<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>

<body>
<nav class="navbar">
    <div class="navbar">
        <div class="navbar-btn">Order Items</div>
    </div>
</nav>


<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Order ID</td>
            <td>Order item ID</td>
<!--            <td>Product</td>-->
<!--            <td>Quantity</td>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderItem:${orderItems}">
            <td th:text="${orderItem.order.orderId}"/>
            <td th:text="${orderItem.orderItemId}"/>
<!--            <td th:text="${orderItem.product}"/>-->
<!--            <td th:text="${orderItem.quantity}"/>-->
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/customer/list}">Back to Customers </a>
</div>
</body>
</html>

