<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"  >
<body>
<nav class="navbar">
    <div class="navbar">
        <div class="navbar-btn">Customer by id </div>
    </div>
</nav>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Phone Number</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${customer.customerId}"/>
            <td th:text="${customer.name}"/>
            <td th:text="${customer.phoneNumber}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
